.navcontainer {
    position: fixed;          
    top: 0;                   
    width: 100%;             
    z-index: 1000;            
    border: 2px solid white;
    height: 100px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 40px;
    background-color: #111010; 
}


.logo img {
    height: 80px;
    width: 110px;
    margin-left:50px;
}

.navlink ul {
  
    list-style: none;
    display: flex;
    gap: 5px;
    margin: 0;
    padding: 0;
  
}

.navlink li {
    display: inline-block;
}

.navlink a {
    text-decoration: none;
    margin-right:90px ;
    color:rgb(242, 240, 240);
    font-size: 20px;
    font-weight: 500;
}


