.blog {
  background-color: rgb(255, 162, 0); /* full-screen orange */
  width: 100vw;
  height: auto;
   padding: 120px 0 40px;
  color: white;
}

.blog h1 {
  margin-top: 15px;
  text-align: center;
  color: white;
}

.cardcontainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  padding: 20px 60px;
  justify-items: center;
}

.card {
  border: 2px solid black;
  height: 300px;
  width: 220px;
  margin: 20px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f9f9f9;
  border-radius: 8px;
  text-align: center;
}

.card:hover {
  transform: scale(1.03);
}

.card img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-radius: 6px;
  cursor: pointer;
}

.card p {
  margin: 10px 0 0;
  font-size: 14px;
  font-weight:bold;
  color:black;
}

